<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <!-- <%= text_field_tag :title, @post.title %><br> -->\
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <!-- <%= text_area_tag :description, @post.description %><br> -->
  <%= f.text_field :description %><br>

  <!-- <%= submit_tag "Submit Post" %> -->
  <%= f.submit %>
<% end %>
